<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.john.munchies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ViewOrderHistory"></activity>
        <activity android:name=".ShowComplaintsToRestaurant" />
        <activity android:name=".ShowComplaintsToAdmin" />
        <activity android:name=".ComplaintList" />
        <activity android:name=".RestauantComplaint" />
        <activity
            android:name=".RestaurantCustomerOrder"
            android:noHistory="true" />
        <activity
            android:name=".RestaurantLogin"
            android:label="Restaurant View"
            android:noHistory="true"/>
        <activity android:name=".ShowFirebaseActivity" />
        <activity android:name=".AddFireBaseActivity" />
        <activity android:name=".Homepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangePassword" />
        <activity
            android:name=".SearchRegistered"
            android:label="Register with Centennial Account"
            android:noHistory="true" />
        <activity android:name=".Login"
            android:label="Customer View"
            android:noHistory="true"/>
        <activity
            android:name=".AdminAddRestaurant"
            android:noHistory="true" />
        <activity android:name=".Restaurant" />
        <activity
            android:name=".RestaurantRegistration"
            android:noHistory="true" />
        <activity android:name=".RestaurantAddItem" />
        <activity android:name=".RestaurantMenuCRUD" />
        <activity android:name=".RestaurantMenu" />
        <activity android:name=".CustomerComplaint" />
        <activity android:name=".RestaurantViewOrders"
            android:noHistory="true"/>
        <activity android:name=".RestaurantViewCustomerOrders" />
        <activity android:name=".RestaurantSuccess"
            android:noHistory="true"/>
        <activity android:name=".RestaurantDenied"
            android:noHistory="true"/>
        <activity android:name=".CustomerCreditCard" />
        <activity android:name=".CustomerCreditCardList" />
        <activity android:name=".CustomerCreditCardDetail"></activity>
        <activity android:name=".CustomerPayment"></activity>

    </application>

</manifest>